.details-main-container{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    
}

.icon-btn{
    height: 70px;
    width: 70px;
    border:none;
    border-radius: 50%;
    margin:20px;
    font-size: 25px;
    transition:all 1s;
}
.icon-btn:hover{
    transform: scale(1.1);
}
.fbook{
    background-color: #3b5998 ;
}
.ytube{
    background-color: #FF0000;
}
.twitter{
    background-color: #00acee;
}

.footer{
   
    text-align: center;
}
.home-link{
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    width:30%;
    text-align: center;
    margin-left: 35%;
    border-radius: 5px;
}

.home-link h1{
    color: white;
}


@media only screen and (max-width: 600px) {
    .home-link{
        background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
        width:90%;
        text-align: center;
        margin-left: 3%;
        border-radius: 5px;
    }
    
  }